@{
    ViewData["Title"] = "Samples Init";
}

<h1>Samples Init</h1>

@ViewBag.ResultMessage;<br/>
<br />
<a href="/">Return Home</a> |
<a href="/system">Return System Home</a> |
<a href="/sample">View Samples</a>