@{
    ViewData["Title"] = "DeleteByFieldValue";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    Delete By Field Value

    Delete result: @ViewData["DeleteResult"]
    @ViewData["DeletedCount"] collection(s) deleted


</p>
