@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h2>Application uses</h2>
        <ul>
            <li>Init test data <a href="/home/init">Init</a></li>
            <li>Try and test method usages <a href="/home/test">Test</a></li>
        </ul>

        <p>Please use debug mode to see methods and results</p>
    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-3">
    </div>
</div>
