@page "{personid?}"
@model MongoHeadSample.Pages.People.FormModel
@{
}

<div class="container">

  <div class="row">
    <div class="col">
    <h1>People Add Form</h1>
    <p>With this form you can add person</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
    </div>
  </div>

  <div class="row">
    <div class="col">
        <form method="post">
            <div class="form-group">
                <label asp-for="Input.PersonViewModel.FirstName"></label><br />
                <input asp-for="Input.PersonViewModel.FirstName" class="form-control">
                <span asp-validation-for="Input.PersonViewModel.FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.PersonViewModel.LastName"></label><br />
                <input asp-for="Input.PersonViewModel.LastName" class="form-control">
                <span asp-validation-for="Input.PersonViewModel.LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.PersonViewModel.Age"></label><br />
                <input asp-for="Input.PersonViewModel.Age" class="form-control">
                <span asp-validation-for="Input.PersonViewModel.Age" class="text-danger"></span>
            </div>
            <br/>
            <button type="submit" class="btn-lg btn-success">Save</button>
            <button type="button" class="btn-lg btn-secondary" onclick="document.location.href='/people';">Cancel</button>

            <div asp-validation-summary="All" class="text-danger"></div>

            <input asp-for="Input.PersonViewModel._id" type="hidden">
        </form>
    </div>
    <div class="col">
    </div>
  </div>

</div>

@section PageSpecificScripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('input:text[value=""]:first').focus();//Focus First Empty Input:
        });
    </script>
}